table {
  border-collapse: collapse;

  & th {
    background-color: aliceblue;
    font-weight: bold;
  }

  & td, th {
    padding: 10px;
    border: 1px solid darkblue;
    text-align: center;
    &:first-child {
      background-color: aliceblue;
      font-weight: bold;
    }
  }
}
