<h3>Fibonacci:</h3>
<p>
  Jako Fibonacciho posloupnost je v matematice označována nekonečná posloupnost přirozených čísel, začínající:
</p>
<pre>
  F(n) = 0                 --- pro n = 0
  F(n) = 1                 --- pro n = 1
  F(n) = F(n-1) + F(n-2)   --- pro n > 1
</pre>

<p>(každé číslo je součtem dvou předchozích, první dvě jsou dané)</p>

<table>
  <tr>
    <th>fib(b)</th>
    <th>fib(0)</th>
    <th>fib(1)</th>
    <th>fib(2)</th>
    <th>fib(3)</th>
    <th>fib(4)</th>
    <th>fib(5)</th>
    <th>fib(6)</th>
  </tr>
  <tr>
    <td>vzor</td>
    <td><strong>0</strong></td>
    <td><strong>1</strong></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>5</td>
    <td>8</td>
  </tr>
  <tr>
    <td>výsledek</td>
    <td>{{ fib(0) }}</td>
    <td>{{ fib(1) }}</td>
    <td>{{ fib(2) }}</td>
    <td>{{ fib(3) }}</td>
    <td>{{ fib(4) }}</td>
    <td>{{ fib(5) }}</td>
    <td>{{ fib(6) }}</td>
  </tr>
</table>
