# Add files here to ignore them from prettier formatting

/dist
/coverage
package.json
package-lock.json

*gen.config.json
*.yaml

.release-please-manifest.json
.release-please-affected
CHANGELOG.md

# generated API
libs/shared/data-access

.angular
