<div class="weather-card">
  <div>
    <input type="text" id="city"
           [ngModel]="name"
           placeholder="City"
           required>
  </div>

  <div class="weather-item-container">
    <div *ngFor="let weather of response?.weather"
          class="weather-item">
      <div>{{ weather.main }} / {{ weather.description }}</div>
      <img [ngSrc]="getImg(weather)" width="100" height="100"/>
    </div>

  </div>

  <div>
    <div>Teplota: {{ response?.main?.temp }}</div>
    <div>Pocit: {{ response?.main?.feels_like }}</div>
  </div>

  <div *ngIf="response">
    Východ slunce: {{ getSunrise() }}
  </div>
  <div *ngIf="response">
    Západ slunce: {{ getSunset() }}
  </div>

  <!--  <pre>-->
  <!--    {{  response | json }}-->
  <!--  </pre>-->
</div>
