<div class="container">
  <div class="control">
    <label for="slider">Slider: </label>
    <mat-slider id="slider" [formControl]="control" min=0 max=10000 appInputRef></mat-slider>
    <div></div>
    <div></div>
  </div>

  <div class="control">
    <label for="debouncedInput">Debounced Input:</label>
    <input id="debouncedInput"
           [formControl]="control" type="text"
           appDebounceInput
           #appDebounce="appDebounce"
           class="debounced"
    />
<!--    mask="separator.0"-->
    <label for="debouncedTime">DebounceTime:</label>
    <input id="debouncedTime" type="number" value="500" #debounceTime (blur)="appDebounce.debounceTime = debounceTime.value"/>
  </div>

  <div class="control">
    <label for="input">Input: </label>
    <input id="input" [formControl]="control" type="number"/>
    <div></div>
    <div></div>
  </div>

  <div class="control">
    <div>Model:</div>
    <div class="code value">
      {{ control.value | json }}
    </div>
    <div></div>
    <div></div>
  </div>
</div>

