<div class="container">
  <div class="control">
    <label for="slider">Slider: </label>
    <mat-slider id="slider" [formControl]="control" min=0 max=100 appInputRef></mat-slider>
    <div></div>
    <div></div>
  </div>

  <div class="control">
    <label for="debouncedInput">Debounced Input:</label>
    <input id="debouncedInput" [formControl]="control" type="number" appDebounceInput #appDebounce="appDebounce" class="debounced"/>
    <label for="debouncedTime">DebounceTime:</label>
    <input id="debouncedTime" type="number" value="500" #debounceTime (blur)="appDebounce.debounceTime = debounceTime.value"/>
  </div>

  <div class="control">
    <label for="input">Input: </label>
    <input id="input" [formControl]="control" type="number"/>
    <div></div>
    <div></div>
  </div>

  <div class="control">
    <div></div>
    <div class="value">
      {{ control.value }}
    </div>
    <div></div>
    <div></div>
  </div>
</div>

